.content
    width 100%
    padding 30px 0 50px
    clearfix()
    +mobile()
        padding 20px 0
    &.not-found
        padding 25vh 0
        text-align center
        +below($tablet)
            padding 15% 0
        h2
            display inline-block
            padding 14px 18px
            border 2px solid $laranja
            lato 13 bold
            text-transform uppercase
            color $laranja
    .content-main
        width 50%
        margin-left 4.16%
        float left
        +tablet()
            width 48%
            margin-left 4.16%
        +mobile()
            width 100%
            margin 0
        h1
            color $azul
            lato 22 light
            margin 0 0 1.2em
        p
            lato 14
            margin 1.3em 0
            line-height 1.5
            color $azul
        ul
            color $azul
            lato 14
            line-height 1.3
            padding 0
            margin 0
            li
                list-style-type none
                padding-left 1em
                position relative
                margin 3px 0
                &:last-child
                    margin-bottom 0
                &:before
                    position absolute
                    content ""
                    width 3px
                    height 3px
                    background $azul
                    left 0
                    top .5em
                    border-radius 100%
    .content-left
        width 19.16%
        float left
        min-height 1px
        +mobile()
            width 100%
            margin-bottom 20px
        +tablet()
            width 19%
        img
            width 100%
            height auto
            display block
            +mobile()
                display none
        .categorias
            a
                display block
                background $azul
                lato 13 vold
                color #fff
                padding 5px 8px
                margin-bottom 2px
                transition background .3s
                text-decoration none
                &:hover
                &.active
                    background $laranja
                +mobile()
                    display inline-block
                    float left
                    margin-right 2px
    .content-right
        width 20.8%
        float right
        min-height 1px
        +tablet()
            width 24%
        +mobile()
            width 100%
            margin-top 20px
        .conversa
            display block
            background $laranja
            text-decoration none
            padding 5px
            clearfix()
            transition background .3s
            &:hover
                background $azul
            span
                display block
                padding 15px
                text-align center
                lato 18 light
                color #fff
                line-height 1.4
                +below($tablet)
                    padding 10px
            img
                width 100%
                height auto
                display block
                +mobile()
                    display none
        .newsletter
            width 100%
            height auto
            background $img('icone-voceAtualizado.png') no-repeat center 18px $azul
            padding 70px 20px 20px
            p
                color #fff
                lato 13 normal italic
                text-align center
                span
                    font-size 20px
                    display block
                    margin-bottom 5px
            form
                text-align center
                input
                    width 100%
                    background rgba(#fff, .15)
                    outline 0
                    border 0
                    lato 12
                    margin-bottom 3px
                    padding 5px
                    color #fff
                    &[type='submit']
                        width auto
                        background $laranja
                        border 2px solid $laranja
                        color #fff
                        padding 4px 10px
                        transition color .3s, background .3s
                        &:hover
                            color $laranja
                            background transparent
                        margin-top 10px
                .response
                    color $laranja
                    lato 12
                    margin-top 7px
            +below($tablet)
                width 100%
                height auto
        .interesse
            display block
            background #EDEBE9
            text-align center
            padding 24px 30px 20px
            text-decoration none
            transition background .3s
            &:hover
                background #51AAB8
                h4
                p
                    color #fff
            +tablet()
                padding 20px
            h4
                color $laranja
                margin 0 0 .5em
                lato 16 bold
            p
                color $azul
                margin 0 0 .8em
                lato 14 bold
            span
                display inline-block
                width 30px
                height 30px
                border-radius 100%
                background $img('setinha-saibamais.png') no-repeat center #51AAB8
            h4
            p
                transition color .3s