footer
    .informacoes
        background $azul
        padding 50px 0
        +below($tablet)
            padding 30px 0
        .center
            clearfix()
            width 1110px
            +below($tablet)
                width 90%
        .col
            float left
            margin-right 20px
            width 200px
            +below($tablet)
                display none
            &.col-contato
                width 440px
                margin-right 0
                +below($tablet)
                    display block
                    width 100%
                    a
                        display none
            a
                display block
                color #fff
                text-decoration none
                transition color .3s
                lato 12
                margin-bottom 3px
                text-align center
                &:hover
                    color cyan
                &.link-main
                    padding-bottom 3px
                    margin-bottom 5px
                    border-bottom 1px solid $laranja
            .contato-info
                text-align center
                padding-top 10px
                .social
                    display inline-block
                    height 32px
                    clearfix()
                    a
                        display block
                        width 16px
                        height 16px
                        float left
                        margin-left 3px
                        transition background .3s
                        background-position center top
                        background-repeat no-repeat
                        &:hover
                            background-position center bottom
                        &.facebook
                            background-image $img('icone-facebook.png')
                        &.linkedin
                            background-image $img('icone-linkedin.png')
                        &.email
                            background-image $img('icone-email.png')
                img
                    display inline-block
                    width 140px
                    height auto
                    margin-right 30px
                p
                    color #fff
                    lato 12
                    line-height 1.4
                    margin 1.3em 0
                    span
                        lato 14 bold
                    &:last-child
                        margin-bottom 0
                +below($tablet)
                    padding-top 0
    .copyright
        background #fff
        padding 20px 0
        p
            text-align center
            lato 9
            color $azul
            margin 0
            a
                text-decoration none
                color $azul
                &:hover
                    text-decoration underline
            span
                +mobile()
                    display block