header
    width 100%
    border-top 3px solid $azul
    background $img('header-internas.png') no-repeat center #EDEBE9
    height 143px
    +below($tablet)
        height 95px
        background $laranja !important
        .nav-main
        .nav-list
            display none
    +mobile()
        height 85px
    .center
        clearfix()
        height 100%
    a.logo
        display block
        height 140px
        width 342px
        float left
        background $img('marca-neovalor-internas.png') no-repeat center
        text-indent -9999px
        +below($tablet)
            height 100%
            width 200px
            background-size auto 100%
            background-image $img('marca-neovalor-home.png')
        +mobile()
            width 182px
    .nav-main
        float left
        position relative
        top 63px
        left 50px
        a
            lato 13 bold
            color $azul
            text-decoration none
            margin-right 15px
            transition color .3s
            &:hover
            &.active
                color $laranja
    .nav-list
        float right
        height 100%
        padding-top 20px
        a
            display block
            lato 11 bold
            text-decoration none
            color $azul
            margin-bottom 5px
            transition color .3s, background .3s
            &:hover
            &.active
                color $laranja
            &.area-do-cliente
                display inline-block
                padding 6px
                border 2px solid $azul
                margin-top 10px
                &:hover
                    color #fff
                    background $azul
    .nav-mobile
        +above($tablet)
            display none !important
        display none
        position absolute
        top 92px
        width 100%
        background $azul
        padding 12px 0 15px
        text-align center
        z-index 102
        box-shadow 0 1px 5px rgba(#000, .4)
        +mobile()
            top 82px
        a
            display block
            color #fff
            lato 13 bold
            padding 6px 0
            text-decoration none
            &.active
                color $laranja
            &.area-do-cliente
                display inline-block
                padding 6px
                border 2px solid #fff
                margin-top 10px
    #mobile-toggle
        +above($tablet)
            display none
        display block
        background-color transparent
        border 0
        position absolute
        top 0
        right 0
        height 100%
        width 28px
        outline 0
        padding 0
        .lines
            display block
            width 100%
            height 4px
            background #fff
            position relative
            transition .3s ease
            border-radius 4px
            &:before
            &:after
                content ""
                display block
                position absolute
                left 0
                width 100%
                height 4px
                border-radius 4px
                background #fff
                transition .3s ease
            &:before
                top 7px
            &:after
                top -7px
        &.close
            .lines
                background transparent
                &:before
                &:after
                    transform-origin 50% 50%
                    top 0
                &:before
                    transform rotate3d(0,0,1,45deg)
                &:after
                    transform rotate3d(0,0,1,-45deg)
    &.home
        position absolute
        z-index 102
        top 0
        background $img('header-icone-home.png') no-repeat center
        a.logo
            background-image $img('marca-neovalor-home.png')
        nav.nav-main
            a
                color #fff !important
                display inline-block
                position relative
                &:after
                    content ""
                    position absolute
                    width 0px
                    height 2px
                    background #fff
                    bottom -10px
                    left 50%
                    margin-left 0
                    transition all .3s
                &:hover:after
                    width 30px
                    margin-left -15px
        nav.nav-list
            a
                color #fff !important
                position relative
                &.area-do-cliente
                    border-color #fff
                    &:before
                        display none
                    &:hover
                        color $azul !important
                        background #fff
                &:before
                    content ""
                    position absolute
                    left -8px
                    top 50%
                    width 2px
                    height 0
                    background #fff
                    opacity 0
                    transition all .3s
                &:hover:before
                    height 80%
                    top 10%
                    opacity 1
        +below($tablet)
            position relative

.header-multiply
    position absolute
    top 3px
    left 0
    width 100%
    height 140px
    background $img('header-home.png') no-repeat center
    mix-blend-mode multiply
    z-index 101
    +below($tablet)
        display none