.a-neovalor
    .center
        clearfix()
    .content-main
        .objetivo-estrategico
            background #EDEBE9
            padding 15px
            margin-top 25px
            h2
                margin-top 0
                color $azul
                lato 20 light
        .conversa
            display block
            background $laranja
            margin-top 55px
            text-decoration none
            clearfix()
            padding 5px
            transition background .3s
            &:hover
                background $azul
            span
                display block
                float left
                text-align center
                lato 18 light
                color #fff
                width calc("100% - 220px")
                padding-top 30px
                line-height 1.4
            img
                display block
                float right
            +below($tablet)
                margin-top 25px
                span
                    width 100%
                    float none
                    padding 10px
                img
                    display none
    .content-right
        background $azul
        color #fff
        padding 20px
        h2
            lato 20 light
            margin 0
        p
            lato 14 light
            margin .5em 0 1.3em
            line-height 1.5
        *:first-child
            margin-top 0
        *:last-child
            margin-bottom 0