.artigos-novidades
    .content-main
        &.lista
            h2
                color $laranja
                lato 18 light
                margin-top -1em
            a.artigo-chamada
                display block
                border-top 1px solid $laranja
                padding 15px 10px
                text-decoration none
                transition background .3s
                p
                    margin 0
                    lato 14
                    &.data
                        lato 11
                        color $laranja
                h2
                    lato 18 light
                    margin .5em 0
                    color $azul
                p
                h2
                    transition color .3s
                &:hover
                    background $azul
                    p
                    h2
                        color #fff
                &:last-of-type
                    border-bottom 1px solid $laranja
            .paginacao
                font-size 0
                margin-top 10px
                span
                a
                    display inline-block
                    margin-right 2px
                    background #EDEBE9
                    lato 11
                    color $azul
                    text-decoration none
                    padding 3px 5px
                    &.active
                        color $laranja
        &.artigo
            p.data
                color $laranja
                lato 11
                padding-bottom 6px
                border-bottom 1px solid $laranja
                margin-top 0
            h2
                lato 24 light
                margin 0
                color $azul
            img
                max-width 100%
                height auto
                display block
            .video
                width 100%
                height 0
                padding-bottom 56.25%
                position relative
                margin 1em 0
                iframe
                    position absolute
                    top 0
                    left 0
                    width 100%
                    height 100%
            .galeria
                margin-top 2em
                clearfix()
                a
                    display block
                    width 18.667%
                    margin-right 1.6667%
                    margin-bottom 1.6667%
                    float left
                    &:nth-child(5n)
                        margin-right 0
                    img
                        width 100%
                        height auto
                        display block
                    +below($tablet)
                        width 32.222%
                        &:nth-child(5n)
                            margin-right 1.6667%
                        &:nth-child(3n)
                            margin-right 0
            a.voltar
                display block
                padding-top 8px
                border-top 1px solid $laranja
                color $laranja
                lato 16
                margin-top 25px
                transition color .3s
                text-decoration none
                &:hover
                    color $azul
    .content-right
        img
            width 100%
            height auto
            display block
            +mobile()
                display none
        .newsletter
            margin-top 10px
        .outros-conteudos
            background #EDEBE9
            border-bottom 1px solid $laranja
            h3
                margin 0
                color $laranja
                lato 18 light
                padding 10px
            a
                display block
                padding 10px
                border-top 1px solid $laranja
                text-decoration none
                transition background .3s
                p
                    margin 0
                    lato 10
                    color $laranja
                h2
                    color $azul
                    lato 16
                    margin .3em 0 0
                p
                h2
                    transition color .3s
                &:hover
                    background $azul
                    p
                    h2
                        color #fff