.consultoria
    .content-left
        img
            margin-bottom 12px
    .content-main
        h3
            color $laranja
            lato 16 bold
            margin 2em 0 0
            + p
                margin-top .8em