.contato
    clearfix()
    .content-left
        background $laranja
        padding 15px
        +below($tablet)
            width 100%
            clear both
            margin-bottom 20px
        p
            lato 12
            margin 0
            color #fff
            &.tel
                lato 20
                padding-left 35px
                margin-bottom .7em
                background $img('icone-telefone.png') no-repeat center left
    .content-main
        +tablet()
            width 70%
            margin-left 0
        h1
            margin-bottom .7em
        h1.fale-conosco
            color $laranja
            lato 30 light
            margin 0 0 .5em
        form
            width 100%
            label
                width 100%
                display block
                clearfix()
                margin-bottom 5px
            span
                width 75px
                float left
                lato 12
                color $azul
                line-height 36px
                text-align right
                padding-right 10px
                +mobile()
                    width 100%
                    line-height 2
                    padding 0
                    text-align left
            input
            textarea
                width calc("100% - 75px")
                float right
                border-radius 4px
                border 0
                outline 0
                resize none
                background #EDEBE9
                height 36px
                padding 0 10px
                lato 12 bold
                color $azul
                +mobile()
                    width 100%
                &[type='submit']
                    background $azul
                    color #fff
                    transition background .3s
                    lato 16 light
                    &:hover
                        background $laranja
            textarea
                height 130px
                display block
                padding 10px
    .content-right
        p
            lato 14
            color $azul
            margin 0
            line-height 1.5
        iframe
            width 100%
            height 250px
            margin-top 20px