.content-home
    padding-top 0
    .banners
        width 100%
        height 560px
        position relative
        +tablet()
            height 350px
        +mobile()
            height 230px
        .slide
            position absolute
            top 0
            left 0
            width 100%
            height 100%
            background-size cover
            .slide-texto
                float left
                padding-top 230px
                width 435px
                padding-left 35px
                color #fff
                +below($tablet)
                    width 100%
                    padding 50px 0 0
                    text-align center
                +mobile()
                    padding-top 25px
                h2
                    margin 0 0 10px
                    lato 55 black
                    text-shadow 0 1px 7px rgba(#000, .7)
                    +tablet()
                        font-size 40px
                    +mobile()
                        font-size 32px
                p
                    margin 0
                    lato 30 bold italic
                    text-shadow 0 1px 7px rgba(#000, .7)
                    +tablet()
                        font-size 24px
                    +mobile()
                        font-size 20px
        >.center
            position absolute
            bottom 25px
            left 50%
            transform translateX(-50%)
            z-index 101
            .cycle-pager
                clearfix()
                padding-left 40px
                a
                    text-indent -9999px
                    display block
                    float left
                    width 12px
                    height 12px
                    margin-right 5px
                    border-radius 100%
                    transition background .3s
                    border 2px solid #fff
                    &.cycle-pager-active
                        background #fff
            +below($tablet)
                width 100%
                left 0
                transform none
                .cycle-pager
                    padding 0
                    text-align center
                    a
                        display inline-block
                        float none
    .apresentacao
        padding 25px 0
        border-bottom 1px solid rgba($azul, .3)
        text-align center
        color $azul
        line-height 1.5
        &.com-aviso
            border-bottom none
        h3
            lato 20 light
            width 75%
            margin 0 auto .8em
        p
            width 75%
            lato 14 normal italic
            margin 0 auto
        +below($tablet)
            h3
            p
                width 100%
        +mobile()
            h3
                font-size 18px
    .aviso-wrapper
        position relative
        height 100%
        &:before
            content ""
            position absolute
            width 100%
            height 1px
            left 0
            top 50%
            background rgba($azul, .3)
        .center
            height 100%
            .aviso
                background $azul
                border-top 2px solid #9AC4CC
                border-bottom 2px solid #9AC4CC
                padding 25px 50px
                +mobile()
                    padding 20px
                text-align center
                h3
                    color #9AC4CC
                    lato 20 bold
                    margin 0 0 1em
                    +mobile()
                        font-size 18px
                p
                    margin 0 0 1em
                    color #fff
                    lato 16 bold
                    line-height 1.5
                    +mobile()
                        font-size 15px
                    &:last-child
                        margin-bottom 0
                &.com-imagem
                    padding 0
                    clearfix()
                    img
                        width 26.6667%
                        height auto
                        float left
                        display block
                        +mobile()
                            display inline-block
                            float none
                            max-width 100%
                            margin 0 auto
                            width auto
                    .texto
                        width 73.3333%
                        float left
                        padding 25px 50px
                        +mobile()
                            width 100%
                            float none
                            padding 20px
    .chamadas-1
    .chamadas-2
        clearfix()
        padding 40px 0
        +below($tablet)
            padding 25px 0
    .chamadas-2
        padding-bottom 0 !important
    .agendamentos
        width 600px
        margin-right 30px
        float left
        h3
            lato 22 light
            color $azul
            margin 0 0 .5em
        +below($tablet)
            width 100%
            margin 0 0 15px
            float none
            h3
                font-size 18px
        .agendamento
            width 100%
            display block
            border-bottom 1px solid $laranja
            position relative
            padding 12px 0 24px
            text-decoration none
            min-height 95px
            transition background .3s
            &:hover
                background #F48159
                .data
                .informacoes span
                .informacoes p
                    color #fff
            &:first-of-type
                border-top 1px solid $laranja
            .data
                float left
                text-align center
                height 100%
                padding 0 24px 0 12px
                color $laranja
                transition color .3s
                lato 24 black
                span
                    display block
                .mes
                    font-size 14px
                .ano
                    font-size 10px
            .informacoes
                span
                    color $laranja
                    lato 10 bold
                    transition color .3s
                p
                    margin 0
                    lato 16
                    color $azul
                    transition color .3s
            .saiba-mais
                position absolute
                bottom 0
                right 0
                display inline-block
                background $laranja
                color #fff
                lato 11
                line-height 15px
                padding 0 24px 0 10px
                background $img('setinha-saibamais.png') no-repeat 93% center $laranja
                &:before
                    content ""
                    position absolute
                    bottom 0
                    left -15px
                    width 0
                    height 0
                    border-style solid
                    border-width 0 0 15px 15px
                    border-color transparent transparent $laranja transparent
        .agenda-completa
            display block
            width 100%
            background $azul
            margin-top 5px
            lato 16
            color #fff
            text-align center
            padding 5px
            text-decoration none
            transition background .3s
            &:hover
                background $laranja
            span
                display inline-block
                background $img('setinha-saibamais.png') no-repeat center
                height 9px
                width 9px
                vertical-align middle
                margin-left 5px
                margin-top -2px
    .treinamentos
        width 285px
        float left
        margin-top 38px
        a
            display block
            width 100%
            background $img('setinha-saibamais.png') no-repeat 96% 10px $laranja
            border-bottom 1px solid #fff
            padding 28px 35px 28px 28px
            text-align right
            text-decoration none
            color #fff
            lato 12
            transition background .3s
            min-height 107px
            &:hover
                background-color #F48159
            span
                display block
                lato 14 black
                margin-bottom 3px
            &:last-child
                border 0
        +below($tablet)
            width 100%
            margin 0
            a
                min-height auto
                text-align left
                padding 20px 38px 20px 20px
                background-position 98% 12px
    .newsletter
        width 284px
        height 321px
        float right
        background $img('icone-voceAtualizado.png') no-repeat center 35px $azul
        margin-top 38px
        padding 100px 20px 20px
        p
            color #fff
            lato 13 normal italic
            text-align center
            span
                font-size 20px
                display block
                margin-bottom 5px
        form
            text-align center
            input
                width 100%
                background rgba(#fff, .15)
                outline 0
                border 0
                lato 12
                margin-bottom 3px
                padding 5px
                color #fff
                +tablet()
                    &[type='text']
                    &[type='email']
                        width 49.5%
                        float left
                    &[type='email']
                        float right
                &[type='submit']
                    width auto
                    background $laranja
                    border 2px solid $laranja
                    color #fff
                    padding 4px 10px
                    transition color .3s, background .3s
                    &:hover
                        color $laranja
                        background transparent
                    margin-top 10px
            .response
                color $laranja
                lato 12
                margin-top 7px
        +below($tablet)
            width 100%
            margin-top 15px
            height auto
    .depoimentos
        width 100%
        background #EDEBE9
        .slide
            width 100%
            padding 25px 0 60px
            .center
                width 900px
            +below($tablet)
                padding 25px 0 50px
                .center
                    width 90%
            clearfix()
            .pessoa
                width 285px
                float left
                p
                    display inline-block
                    color $azul
                    lato 13 bold
                    text-align right
                    float left
                    padding-top 20px
                    span
                        display block
                        lato 13 bold italic
                .imagem
                    display block
                    width 132px
                    height 132px
                    padding 5px
                    border 1px solid $laranja
                    border-radius 100%
                    overflow hidden
                    float left
                    margin-left 20px
                    img
                        width 100%
                        height auto
                        border-radius 100%
                        display block
                +below($tablet)
                    width 100%
                    text-align center
                    p
                        width 100%
                        text-align center
                        margin 0
                        padding-top 0
                        float none
                    .imagem
                        margin 10px auto 15px
                        float none
            .texto
                width 585px
                float left
                margin-left 30px
                position relative
                padding-top 20px
                h3
                    lato 20 light
                    color $laranja
                    margin 0 0 .8em
                    +mobile()
                        font-size 17px
                p
                    color #666
                    lato 16 normal italic
                    margin 0 0 1em
                    +mobile()
                        font-size 15px
                &:after
                    content ""
                    width 80px
                    height 1px
                    position absolute
                    left 0
                    bottom 0
                    background $laranja
                +below($tablet)
                    width 100%
                    float none
                    text-align center
                    margin 0
                    &:after
                        display none
        .cycle-pager
            width 100%
            text-align center
            position absolute
            bottom 18px
            left 0
            z-index 101
            a
                text-indent -9999px
                display inline-block
                width 10px
                height 10px
                margin-right 5px
                border-radius 100%
                transition background .3s
                background #B3B3B3
                &.cycle-pager-active
                    background $laranja
    .area-do-cliente
        display table
        width 33.33%
        height 240px
        float left
        border-right 1px solid #fff
        background $img('chamadaHome-area-cliente.png') no-repeat center
        background-size cover
        position relative
        text-decoration none
        +tablet()
            width 50%
            background-position center top
        +mobile()
            width 100%
            background-position center top
        .wrapper
            display table-cell
            vertical-align middle
            text-align center
            padding 0 45px
            .botao
                background transparent
                width 100%
                color #fff
                border 1px solid #fff
                padding 4px
                lato 11 bold
                transition background .3s, color .3s
            p
                lato 12
                color #fff
                margin-bottom 0
        &:hover
            .botao
                background #fff
                color $azul
    .artigos-novidades
        width 33.33%
        height 240px
        float left
        border-right 1px solid #fff
        background $azul
        padding 30px 35px
        position relative
        +tablet()
            width 50%
        h3
            margin-top 0
            color #fff
            lato 24 black
        p
            color #fff
            lato 18 normal italic
            margin 0
            &.data
                font-size 12px
                margin-bottom 8px
        +mobile()
            width 100%
            height auto
            padding-bottom 75px
            border-top 1px solid #fff
            h3
                font-size 20px
            p
                font-size 16px
        a
            display block
            width calc("100% - 70px")
            position absolute
            bottom 30px
            left 35px
            border-bottom 1px solid #fff
            padding 5px
            text-align right
            lato 12
            text-decoration none
            color #fff
            transition border .3s, background .3s
            &:hover
                border-color $laranja
                background $laranja
    .chamadas-imagens
        width 33.33%
        float left
        clearfix()
        a
            display table
            width 50%
            height 120px
            float left
            border-bottom 1px solid #fff
            border-right 1px solid #fff
            text-decoration none
            background-position center top
            background-repeat no-repeat
            background-size 100% auto
            &.chamada-treinamentos
                background-image $img('chamadaHome-treinamentos.png')
            &.chamada-consultorias
                background-image $img('chamadaHome-consultorias.png')
            &.chamada-fast-track
                background-image $img('chamadaHome-fastTrack.png')
            &.chamada-marketing-digital
                background-image $img('chamadaHome-marketingDigital.png')
            &:hover
                background-position center bottom
            &:nth-child(2n)
                border-right none
            &:nth-child(3)
            &:nth-child(4)
                border-bottom none
            .wrapper
                display table-cell
                vertical-align middle
                text-align center
                lato 16
                color #fff
        +tablet()
            width 100%
            border-top 1px solid #fff
            border-right none
            a
                width 25%
                height 100px
                border-bottom none !important
                &:nth-child(3)
                    border-left 1px solid #fff
                &:last-child
                    border-right none
                    width 25%
                &:hover
                    background-position center top
        +mobile()
            width 100%
            border-top 1px solid #fff
            border-right none
            a
                height 100px
                &:hover
                    background-position center top
