.marketing-digital
.fast-track
    .content-main
        .accordion
            p
                margin-bottom .5em
            .accordion-handle
                display block
                text-decoration none
                background $img('icone-slidedown-mais.png') no-repeat 98% center $laranja
                lato 14 bold
                color #fff
                padding 5px 10px
                padding-right 20px
                margin-bottom 2px
                &:hover
                    background-color $azul
                &.active
                    background-color $azul
                    background-image $img('icone-slidedown-menos.png')
            .accordion-content
                padding 10px 10px 15px
                display none
                p:first-child
                    margin-top 0
                border-bottom 1px solid $azul
                margin-bottom 10px
        form
            width 100%
            margin-top 35px
            h3
                color $laranja
                lato 16 bold
                margin 0 0 10px
            .form-wrapper
                background #51AAB8
                padding 20px
                text-align center
                ::-webkit-input-placeholder
                   color $azul
                :-moz-placeholder
                   color $azul
                ::-moz-placeholder
                   color $azul
                :-ms-input-placeholder
                   color $azul
                input
                textarea
                    width 100%
                    resize none
                    display block
                    margin-bottom 3px
                    outline 0
                    border 0
                    lato 14
                    color $azul
                    background rgba(#fff, .2)
                    padding 5px
                textarea
                    height 100px
                input[type='submit']
                    display inline-block
                    width auto
                    background $laranja
                    color #fff
                    margin-top 10px
                    padding 5px 25px
                    transition background .3s
                    margin-bottom 0
                    &:hover
                        background $azul