.treinamentos
    .content-main
        &.full-width-tablet
            +tablet()
                width 76.84%
        &.temas-e-cursos
            h1
                margin-bottom .5em
            h2
                color $azul
                lato 22 light
                margin 0 0 1em
            h3
                background $azul
                padding 6px 8px
                lato 12 bold
                color #fff
                margin 2em 0 .5em
            h3 + a
                border-top 1px solid $laranja
            a
                display block
                border-bottom 1px solid $laranja
                padding 12px 8px 24px
                lato 16
                color $azul
                text-decoration none
                transition background .3s, color .3s
                position relative
                &:hover
                    background #F48159
                    color #fff
                .saiba-mais
                    position absolute
                    bottom 0
                    right 0
                    display inline-block
                    background $laranja
                    color #fff
                    lato 11
                    line-height 15px
                    padding 0 24px 0 10px
                    background $img('setinha-saibamais.png') no-repeat 93% center $laranja
                    &:before
                        content ""
                        position absolute
                        bottom 0
                        left -15px
                        width 0
                        height 0
                        border-style solid
                        border-width 0 0 15px 15px
                        border-color transparent transparent $laranja transparent
        &.curso
            h3
                background $azul
                padding 6px 8px
                lato 12 bold
                color #fff
                margin 0 0 .3em
            h2.curso-titulo
                border-top 1px solid $laranja
                lato 16 bold
                color $azul
                padding 18px 8px
                margin 0 0 1em
                background #EDEBE9
            .curso-descricao
                padding 0 8px 25px
                border-bottom 1px solid $laranja
                h4
                    color $laranja
                    lato 10 bold
                    margin 2.5em 0 0
                    &:first-of-type
                        margin-top 0
                h4 + p, h4 + ul
                    margin-top 5px
            .curso-chamadas
                border-bottom 1px solid $laranja
                padding 25px 0
                .chamada
                    margin-bottom 20px
                    clearfix()
                    display flex
                    flex-wrap wrap
                    &:before
                    &:after
                        flex-basis 0
                        order 1
                    &:last-child
                        margin-bottom 0
                    .left
                        background $laranja
                        width 50%
                        float left
                        padding 20px
                        color #fff
                        +below($tablet)
                            width 100%
                        .data
                            position relative
                            color #fff
                            lato 16 bold
                            margin 0
                            padding-bottom 12px
                            span
                                display block
                                lato 12 bold
                            &:after
                                content ""
                                width 40%
                                position absolute
                                height 1px
                                background #fff
                                left 0
                                bottom 0
                        .endereco
                            color #fff
                            line-height 1.3
                            margin-bottom .75em
                        .ver-mapa
                            display inline-block
                            border 1px solid #fff
                            padding 6px 10px
                            lato 10
                            color #fff
                            text-decoration none
                            transition background .3s
                            span
                                display inline-block
                                width 9px
                                height 9px
                                background $img('setinha-saibamais.png') no-repeat center
                                margin-left 7px
                            &:hover
                                background $azul
                    .right
                        background $azul
                        width 50%
                        float left
                        padding 20px
                        color #fff
                        +below($tablet)
                            width 100%
                        p
                            color #fff
                            line-height 1.3
                            lato 12
                            margin .75em 0
                            strong
                                lato 14 bold
                            &.titulo
                                lato 14 light
                                margin-top 0
                            &.legenda
                                lato 10
                            &:last-child
                                margin-bottom 0
                    .botao-inscricao
                        width 100%
                        float left
                        background $img('setinha-saibamais.png') no-repeat 98% center $laranja
                        display block
                        lato 16 bold
                        color #fff
                        padding 10px
                        text-align center
                        border-top 2px solid $azul
                        text-decoration none
                        transition background .3s
                        &:hover
                            background-color $azul
            .curso-interesse
                background #51AAB8
                padding 20px
                margin-top 25px
                text-align center
                color #fff
                h4
                    lato 16 bold
                    margin 0 0 .75em
                p
                    lato 14
                    color #fff
                    margin 0
                    line-height 1.3
                form
                    margin-top 20px
                    clearfix()
                    ::-webkit-input-placeholder
                       color $azul
                    :-moz-placeholder
                       color $azul
                    ::-moz-placeholder
                       color $azul
                    :-ms-input-placeholder
                       color $azul
                    input
                        width 100%
                        display block
                        margin-bottom 3px
                        outline 0
                        border 0
                        lato 14
                        color $azul
                        background rgba(#fff, .2)
                        padding 5px
                    input[type='submit']
                        display inline-block
                        width auto
                        background $laranja
                        color #fff
                        margin-top 20px
                        padding 5px 25px
                        transition background .3s
                        margin-bottom 0
                        &:hover
                            background $azul
                    .row
                        clearfix()
                        &:first-of-type
                            margin-top 10px
                            +below($tablet)
                                margin-top 0
                        span
                            width 210px
                            float left
                            lato 12
                            color $azul
                            text-align left
                            line-height 27px
                            +below($tablet)
                                width 100%
                                line-height 2
                                padding 0
                                text-align left
                                margin 5px 0 0
                        > input
                        .checkboxes
                            width calc("100% - 210px")
                            float right
                            text-align left
                            +below($tablet)
                                width 100%
                            label
                                clearfix()
                                lato 12
                                color $azul
                                vertical-align middle
                                margin-top 5px
                                display block
                                height 12px
                                line-height 12px
                                input
                                    width 12px
                                    height 12px
                                    float left
                                    margin 0
                                    margin-right 5px
                                    vertical-align bottom
                                    position relative
                                    top -1px
        &.inscricao
            h1
                margin-bottom .3em
                &.dados-pessoais
                    position relative
                    a
                        display inline-block
                        position absolute
                        top 50%
                        transform translateY(-50%)
                        right 0
                        lato 12
                        color $laranja
                        text-decoration none
                        transition color .3s
                        &:hover
                            color $azul
            h2.inscricao-subtitulo
                lato 16
                color $laranja
                margin 0 0 1em
            h3
                background $azul
                padding 6px 8px
                lato 12 bold
                color #fff
                margin 0
            h2.curso-titulo
                lato 16 bold
                color $azul
                padding 18px 60px 18px 8px
                margin 0
                background #EDEBE9
                position relative
                .excluir
                    display block
                    position absolute
                    width 20px
                    height 20px
                    border-radius 100%
                    background $img('icone-curriculo-fechar.png') no-repeat center #FF0000
                    right 15px
                    top 50%
                    margin-top -10px
                    transition background .3s
                    &:hover
                        background-color darken(red, 10)
            .chamada-curso
                margin-bottom 20px
                display flex
                flex-wrap wrap
                &:before
                &:after
                    flex-basis 0
                    order 1
                &:last-child
                    margin-bottom 0
                .left
                    background $laranja
                    width 65%
                    float left
                    padding 20px
                    color #fff
                    +mobile()
                        width 100%
                    .data
                        position relative
                        color #fff
                        lato 16 bold
                        margin 0
                        padding-bottom 12px
                        span
                            display block
                            lato 12 bold
                        &:after
                            content ""
                            width 40%
                            position absolute
                            height 1px
                            background #fff
                            left 0
                            bottom 0
                    .endereco
                        color #fff
                        line-height 1.3
                        margin-bottom 0
                .right
                    background $azul
                    width 35%
                    float left
                    padding 20px
                    color #fff
                    +mobile()
                        width 100%
                    p
                        color #fff
                        line-height 1.3
                        lato 10
                        margin .75em 0
                        strong
                            lato 14 bold
                        &.titulo
                            lato 14 light
                            margin-top 0
                        &.valor
                            lato 16 bold
                        &:last-child
                            margin-bottom 0
            .adicionar-outro
                display block
                width 100%
                text-align center
                lato 14 bold
                color #fff
                text-decoration none
                transition background .3s
                background #51AAB8
                padding 10px
                &:hover
                    background $azul
            .titulo-login
                text-align center
                margin 2em 0 .5em
                lato 20 bold
                color $azul
            .link-login
                width 49%
                float left
                background $laranja
                lato 20 bold
                text-align center
                color #fff
                padding 18px
                text-decoration none
                transition background .3s
                &:hover
                    background $azul
                +mobile()
                    width 100%
                    margin-bottom 6px
                    font-size 18px
                    padding 12px
                    .link-login + .link-login
                        margin-bottom 0
            .link-login + .link-login
                float right
            .inscricao-passos
                width 100%
                border 1px solid $azul
                margin-bottom 20px
                padding 20px 10px 15px
                clearfix()
                .passo
                    width 25%
                    float left
                    text-align center
                    position relative
                    z-index 2
                    p
                        lato 12
                        margin 0
                        line-height 1.2
                        margin-top 6px
                        padding 0 10px
                    span
                        display inline-block
                        width 32px
                        height 32px
                        text-align center
                        border 1px solid $azul
                        border-radius 100%
                        line-height 32px
                        lato 12
                        color $azul
                        position relative
                        background #fff
                    &:after
                        content ""
                        position absolute
                        width 100%
                        top 16px
                        left 50%
                        height 1px
                        background $azul
                        z-index -1
                    &:last-child:after
                        display none
                    &.active span
                        background $laranja
            .inscricao-login-form
            .dados-pessoais-form
            .dados-pagamento-form
                width 100%
                margin-top 10px
                label
                .row
                    width 100%
                    display block
                    clearfix()
                    margin-bottom 5px
                span
                    width 190px
                    float left
                    lato 12
                    color $azul
                    line-height 36px
                    text-align right
                    padding-right 10px
                    +mobile()
                        width 100%
                        line-height 2
                        padding 0
                        text-align left
                input
                    width calc("100% - 190px")
                    float left
                    border-radius 4px
                    border 0
                    outline 0
                    background #EDEBE9
                    height 36px
                    padding 0 10px
                    lato 12 bold
                    color $azul
                    +above($tablet)
                        &.half-width
                            width calc("65% - 190px")
                        &.quarter-width
                            width calc("50% - 190px")
                    +mobile()
                        width 100% !important
                    &[type='submit']
                        width 100%
                        white-space normal
                        height auto
                        padding 10px
                        background $azul
                        color #fff
                        transition background .3s
                        lato 12
                        margin-top 25px
                        &:hover
                            background $laranja
                        +mobile()
                            margin-top 10px
                .loading
                    float left
                    border-radius 4px
                    background #EDEBE9
                    height 36px
                    width auto
                    margin-left 5px
                    padding 0 10px
                    lato 16 bold
                    line-height 36px
                    letter-spacing 1px
                    display none
                    text-align center
                    +below($tablet)
                        margin 5px 0
                    +tablet()
                        width calc("100% - 190px")
                        float right
                    +mobile()
                        width 100%
                .radios
                    width calc("100% - 190px")
                    float right
                    text-align left
                    +mobile()
                        width 100%
                        input
                            width auto !important
                    label
                        clearfix()
                        lato 12
                        color $azul
                        vertical-align middle
                        height 36px
                        display inline-block
                        width auto
                        line-height 36px
                        margin-right 5px
                        input
                            width auto
                            margin-right 5px
                .endereco-novo-form
                    padding-top 20px
                    display none
                .campos-cep
                    &.hidden
                        border-top 1px solid $azul
                        margin-top 25px
                        label
                        input
                        .row
                            display none
                .termos-e-condicoes
                .responsavel-pagamento
                    clearfix()
                    lato 12
                    color $azul
                    vertical-align middle
                    margin-top 5px
                    display block
                    min-height 12px
                    line-height 12px
                    a
                        color $laranja
                        text-decoration none
                        transition color .3s
                        &:hover
                            color $azul
                    input
                        width 12px !important
                        height 12px
                        float left
                        margin 0
                        margin-right 5px
                        vertical-align bottom
                        position relative
                        top -1px
                .termos-e-condicoes
                    margin 0 0 30px
                .responsavel-pagamento
                    lato 14
                    min-height 14px
                    line-height 14px
                    margin-top 10px
                    input
                        width 13px !important
                        height 13px
                        top 1px
                        margin-right 8px
                .titulo-form
                    margin-bottom .2em
                    font-weight 700
                .legenda-form
                    lato 12
                    margin-bottom 0
                .participante
                    margin-bottom 10px
                    &:not(:first-of-type)
                        border-top 1px solid rgba($azul, .1)
                        padding-top 10px
                .adicionar-participante
                    margin-left 190px
                    color #51AAB8
                    lato 12 bold
                    display inline-block
                    text-decoration none
                    transition color .3s
                    height 20px
                    line-height 20px
                    +mobile()
                        margin 0
                        width 100%
                    span
                        display inline-block
                        width 20px
                        height 20px
                        background $img('icone-slidedown-mais.png') no-repeat center #51AAB8
                        border-radius 100%
                        margin-right 5px
                        transition background .3s
                    &:hover
                        color $azul
                        span
                            background-color $azul
                .form-hidden
                    margin-top 30px
                    display none
                .codigo-promocional
                    margin 30px 0
                    span
                        lato 14 bold
                        text-align left
                        padding 0
                    input
                        font-style italic
                        font-size 14px
                    a
                        display inline-block
                        background $laranja
                        padding 5px 10px
                        color #fff
                        transition background .3s
                        lato 12
                        text-decoration none
                        border-radius 4px
                        margin-left 190px
                        text-align center
                        +mobile()
                            margin 0
                            width 100%
                        &:hover
                            background $azul
            .dados-pessoais-botoes
                border-bottom 1px solid $azul
                padding 5px 0 15px
                a
                    display block
                    width 280px
                    padding 10px
                    background $laranja
                    lato 12 bold
                    color #fff
                    text-decoration none
                    transition background .3s
                    margin-bottom 5px
                    &:hover
                        background $azul
                    +below($tablet)
                        width 100%
            .pagamento-valor-total
                border 1px solid $azul
                padding 15px
                lato 16 bold
                text-align center
            .prosseguir
                display block
                width 100%
                white-space normal
                height auto
                padding 10px
                background $azul
                color #fff
                transition background .3s
                text-decoration none
                border-radius 4px
                lato 12
                text-align center
                margin-top 25px
                &:hover
                    background $laranja
                +mobile()
                    margin-top 10px
            .inscricao-finalizada
                margin-top 20px
                border 1px solid $azul
                padding 20px
                text-align center
                p
                    lato 14
                    margin 0
                    &.titulo
                        lato 20
                    &.subtitulo
                        lato 16
                        color $laranja
                        margin 1em 0
        &.agenda-completa
            a
                width 100%
                display block
                border-bottom 1px solid $laranja
                position relative
                padding 12px 0 24px
                text-decoration none
                min-height 95px
                transition background .3s
                &:hover
                    background #F48159
                    .data
                    .informacoes span
                    .informacoes p
                        color #fff
                &:first-of-type
                    border-top 1px solid $laranja
                .data
                    float left
                    text-align center
                    height 100%
                    padding 0 24px 0 12px
                    color $laranja
                    transition color .3s
                    lato 24 black
                    span
                        display block
                    .mes
                        font-size 14px
                    .ano
                        font-size 10px
                .informacoes
                    span
                        color $laranja
                        lato 10 bold
                        transition color .3s
                    p
                        margin 0
                        lato 16
                        color $azul
                        transition color .3s
                .saiba-mais
                    position absolute
                    bottom 0
                    right 0
                    display inline-block
                    background $laranja
                    color #fff
                    lato 11
                    line-height 15px
                    padding 0 24px 0 10px
                    background $img('setinha-saibamais.png') no-repeat 93% center $laranja
                    &:before
                        content ""
                        position absolute
                        bottom 0
                        left -15px
                        width 0
                        height 0
                        border-style solid
                        border-width 0 0 15px 15px
                        border-color transparent transparent $laranja transparent
        &.treinamento-in-company
            h1
                border-bottom 1px solid $laranja
                padding-bottom 10px
                margin-bottom 0
            form
                width 100%
                border-top 1px solid $laranja
                h3
                    color $laranja
                    lato 18 light
                    margin 1em 0 10px
                .form-wrapper
                    background $laranja
                    padding 20px
                    text-align center
                    ::-webkit-input-placeholder
                       color #fff
                    :-moz-placeholder
                       color #fff
                    ::-moz-placeholder
                       color #fff
                    :-ms-input-placeholder
                       color #fff
                    input
                    textarea
                        width 100%
                        resize none
                        display block
                        margin-bottom 3px
                        outline 0
                        border 0
                        lato 14
                        color #fff
                        background #F3744C
                        padding 5px
                    textarea
                        height 100px
                        margin-bottom 5px
                    input[type='submit']
                        background $azul
                        color #fff
                        padding 5px 25px
                        transition background .3s
                        margin-bottom 0
                        &:hover
                            background darken($azul, 7)
        &.consultores
            width 76.68%
            +mobile()
                width 100%
            .consultor
                clearfix()
                border-top 1px solid $laranja
                padding 20px 0
                &:last-child
                    border-bottom 1px solid $laranja
                p
                    margin 0
                .imagem
                    float left
                    margin-right 18px
                    width 132px
                    height 132px
                    padding 5px
                    border 1px solid $laranja
                    overflow hidden
                    border-radius 100%
                    img
                        width 100%
                        height auto
                        display block
                        border-radius 100%
                    +mobile()
                        width 100px
                        height 100px
                        margin-bottom 10px
                .texto
                    width calc("55% - 75px")
                    float left
                    h3
                        lato 16 bold italic
                        color $azul
                        margin 0 0 .5em
                    p.mais-informacoes
                        display none
                        margin 1em 0 1em
                    .mais-informacoes-handle
                        display block
                        background $img('icone-curriculo-mais.png') no-repeat center $laranja
                        width 16px
                        height 16px
                        position relative
                        margin-top .8em
                        text-decoration none
                        &:after
                            content "fechar"
                            position absolute
                            color $laranja
                            lato 12 bold italic
                            top 0
                            left 20px
                            opacity 0
                            transition opacity .3s
                        &.active
                            background-image $img('icone-curriculo-fechar.png')
                            &:after
                                opacity 1
                    +tablet()
                        width calc("100% - 150px")
                    +mobile()
                        width 100%
                .palavra
                    float right
                    background #EDEBE9
                    padding 12px
                    h5
                        margin 0 0 .5em
                        color $laranja
                        lato 15 light
                    p
                        margin 0
                        lato 16 normal italic
                    width calc("40% - 75px")
                    +tablet()
                        width calc("100% - 150px")
                        margin-top 15px
                    +mobile()
                        width 100%
                        margin-top 15px
    .content-right
        .interesse
            margin-bottom 10px
        .consultor
            padding-bottom 25px
            border-bottom 1px solid $laranja
            .imagem
                width 132px
                height 132px
                padding 5px
                border 1px solid $laranja
                overflow hidden
                border-radius 100%
                img
                    width 100%
                    height auto
                    display block
                    border-radius 100%
                +mobile()
                    width 100px
                    height 100px
            h3
                color $azul
                lato 14 bold italic
                line-height 1.5
                margin-bottom 0
                span
                    color $laranja
                    lato 10 bold
                    display block
            p
                lato 14
                line-height 1.5
                color $azul
                margin-top .5em
                &:last-child
                    margin-bottom 0
        .outros-temas
            h3
                color $laranja
                lato 18 light
                margin-bottom .5em
            a
                display block
                text-decoration none
                transition background .3s
                color #fff
                padding 8px
                lato 12 bold
                background #51AAB8
                margin-bottom 2px
                &:hover
                    background $azul
        .processo
            h3
                margin-top 0
                lato 14 bold
                color $azul
            .treinamento
                margin-bottom 8px
                background #EDEBE9
                border-top 1px solid $laranja
                padding 10px
                .titulo
                    color $azul
                    lato 14 bold
                    margin 0
                .descricao
                    lato 12 bold
                    color $laranja
                    margin .5em 0
                .valor
                    lato 14 bold
                    color $azul
                    margin 0
                &:last-child
                    margin-bottom 0
            .total
                background $laranja
                margin-top 8px
                padding 10px
                color #fff
                lato 12
                text-align center
                p
                    margin 0
                    line-height 1.5
                    &.valor
                        lato 14 bold